<script src='../../javascripts/bootstrap-tags.min.js'></script>
<link rel="stylesheet" type="text/css" href="../../stylesheets/bootstrap-tags.css" />

<div class="container">
    <div class="jumbotron">
    {{#with user}}
    <h1><span class="label label-default">{{nickname}}</span></h1><br />
    <p>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    <a href="mailto:{{email}}">{{email}}</a>
    </p>
    {{/with}}
    <br/>
    {{#if recipes}}
    <h3>Recipes by this user:</h3>
    <div class="list-group">
    {{#each recipes}}
    
    <a class="list-group-item row"  href="{{rootDir}}/recipes/{{_id}}">
    {{#if imgUrl}}
    <div class="col-xs-2">
    <img src="{{rootDir}}/images/{{imgUrl}}" height=60 />
    </div>
    {{/if}}
    <div class="col-xs-6">
        <h4 id="link{{_id}}">{{name}}</h4>
    </div>
    </a>
    
    {{/each}}
    </div>
    {{/if}}
    </div>
</div>